<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857943559070-kfgvu5rbsp620rhue23k5sga1je5i8ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857943559070-kfgvu5rbsp620rhue23k5sga1je5i8ia</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>857943559070-gmq0hm2fur88p683ati8kpkctdvqvs3c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIVEFJVTBS2ZOqt2YP16wTsJPIr4UkaDk</string>
	<key>GCM_SENDER_ID</key>
	<string>857943559070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SupplyBuddySeller</string>
	<key>PROJECT_ID</key>
	<string>chatapp-6ef86</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-6ef86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857943559070:ios:541f86231862d26f9de48f</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-6ef86-default-rtdb.firebaseio.com</string>
</dict>
</plist>